/BattleShipGame/Unity.Timeline.csproj
/BattleShipGame/Unity.Timeline.Editor.csproj
/BattleShipGame/Unity.VSCode.Editor.csproj
/BattleShipGame/UnityEditor.TestRunner.csproj
/BattleShipGame/UnityEditor.UI.csproj
/BattleShipGame/UnityEngine.TestRunner.csproj
/BattleShipGame/UnityEngine.UI.csproj
/BattleShipGame/Library
/BattleShipGame/Logs
/BattleShipGame/BattleShipGame.csproj
/BattleShipGame/Unity.CollabProxy.Editor.csproj
/BattleShipGame/Unity.Rider.Editor.csproj
/BattleShipGame/Unity.TextMeshPro.csproj
/BattleShipGame/Unity.TextMeshPro.Editor.csproj
